/* .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.1); 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  } */

.new-data-store {
    padding: 20px;
    max-width: 700px;
    margin: auto;
    min-width: 1000px;
    background-color: #fff;
  }
  

  
  .field-row {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 12px;
  }
  
  .input {
    padding: 8px;
    flex: 1;
    width: 18rem;
  }
  .title-input {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
  }
  .select {
    padding: 8px;
    min-width: 150px;
  }
  
  .remove-btn {
    background: none;
    border: none;
    font-size: 18px;
    color: orange;
    cursor: pointer;
  }
  
  .add-field {
    border: 1px dashed #3399ff;
    text-align: center;
    padding: 10px;
    margin: 15px 0;
    cursor: pointer;
    color: #3399ff;
  }
  
  .checkbox-container {
    margin: 15px 0;
  }
  
  /* .submit-btn {
    background-color: #3399ff;
    color: white;
    padding: 10px 16px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }
   */